.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 1rem 0;
}

.tag {
    border: dotted 1px var(--color-border);
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 0.9em;
    background-color: var(--color-tag-bg);
    text-decoration: none;
    color: var(--color-text);
}

.tag:hover {
    background-color: var(--color-tag-hover);
}