:root {
    /* Light theme (default) */
    --color-bg: #ffeb89;
    --color-text: #49337b;
    --color-primary: #3c2a65;
    --color-secondary: #fff1ad;
    --color-accent: #3c2a65;
    --color-border: #49337b;
    --color-tag-bg: var(--color-bg);
    --color-tag-hover: #fff1ad;
    --color-checkbox-bg: #886fc3;
}

[data-theme="dark"] {
    --color-bg: #49337b;
    --color-text: #ffeb89;
    --color-primary: #ffeb89;
    --color-secondary: #6446a9;
    --color-accent: #ffdb29;
    --color-border: #ffeb89;
    --color-tag-bg: var(--color-bg);
    --color-tag-hover: #6446a9;
    --color-checkbox-bg: #fff0a3;
}

/* Base styles */
body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: var(--color-accent);
}