---
import Layout from '../layouts/Layout.astro';
import armadioImage from '../../public/armadio.png';
---

<Layout title="About">
    <p>ABout again</p>
    <a href="/">Back home</a>
    <img src={armadioImage.src} alt="armadio" />
</Layout>
