---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getLanguageFromURL } from '../utils/i18n';
import PostsGrid from '../components/posts/PostsGrid.astro';

const currentLang = getLanguageFromURL(Astro.url.pathname);
const posts = await getCollection('blog');
const localizedPosts = posts
  .filter((post) => post.slug.startsWith(currentLang + '/'))
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
export const prerender = true;
---

<BaseLayout pageTitle="Blog">
  <section>
    <PostsGrid posts={localizedPosts} />
  </section>
</BaseLayout>

<style>
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 500px), 1fr));
    gap: var(--space-lg);
    margin: var(--space-lg) 0;
  }

  @media (max-width: 636px) {
    .posts-grid {
      grid-template-columns: 1fr;
      gap: var(--space-md);
      margin: var(--space-md) 0;
    }
  }
</style>
