---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const pageTitle = 'My Astro Learning Blog';
const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
export const prerender = true;
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <p>
        Want to <a href="/posts/tags">find about the topics I talk about</a>? Subscribe to my <a href="/rss.xml"
            >RSS feed</a
        >
    </p>
    <ul>
        {
            sortedPosts.map((post) => (
                <li>
                    <a href={`/posts/${post.slug}/`}>
                        {post.data.title} - {post.data.pubDate.toLocaleDateString()}
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
