---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Alessandro Romano';
export const prerender = true;
---

<BaseLayout pageTitle={pageTitle}>
    Insightful. Precise. Human.

    <p>
        I'm addicted to details and obsessed with how things work: from Cloud services to human relationships. Since my
        first Hello World in RPG Maker, I have come to believe that being an <strong>Engineer</strong> is much more than
        coding.
    </p></BaseLayout
>
