---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeToggle from './ThemeToggle.astro';
import '../styles/theme.css';
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
        <ThemeToggle />
    </nav>
</header>

<style>
    header {
        padding: 1rem;
        background-color: #4c1d95;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
