---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import LanguageSwitcher from './LanguageSwitcher.astro';

const { i18nData } = Astro.props;
---

<header class="container header-container">
  <Hamburger />
  <h2>Alessandro Romano</h2>
  <Navigation language={i18nData?.currentLang} />
  <section class="switchers">
    <LanguageSwitcher i18nData={i18nData} />
    <ThemeSwitcher />
  </section>
</header>

<style>
  header {
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  /* Add some opacity to the background for a glass effect */
  header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--background);
    opacity: 0.8;
    z-index: -1;
  }

  /* Soft gradient border effect */
  header::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to bottom, rgba(var(--black), 5%), rgba(var(--black), 0%));
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  header h2 {
    font-style: italic;
    margin: 0;
  }

  /* Mobile centering */
  @media (max-width: 636px) {
    header h2 {
      margin-left: var(--space-sm);
    }
  }

  /* Tablet centering */
  @media (min-width: 636px) and (max-width: 860px) {
    header h2 {
      width: min-content;
    }
  }

  .switchers {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 0.75rem, 1rem);
    margin-left: auto;
  }
</style>

<script>
  // Add shadow based on scroll position
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.querySelector('header');
    const addShadowClass = () => {
      if (window.scrollY > 0) {
        header?.style.setProperty('--shadow-opacity', '0.1');
        header?.style.setProperty('--gradient-start', '10%');
      } else {
        header?.style.setProperty('--shadow-opacity', '0.05');
        header?.style.setProperty('--gradient-start', '5%');
      }
    };

    // Set initial values
    header?.style.setProperty('--shadow-opacity', '0.05');
    header?.style.setProperty('--gradient-start', '5%');

    window.addEventListener('scroll', addShadowClass);
  });
</script>
