---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import LanguageSwitcher from './LanguageSwitcher.astro';
---

<header>
    <Hamburger />
    <Navigation />
    <section class="switchers">
        <LanguageSwitcher />
        <ThemeSwitcher />
    </section>
</header>

<style>
    header {
        margin: 0;
        background: var(--background);
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .switchers {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
    }
</style>
