---

---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/notes/">Notes</a>
  <a href="/contact/">Contact</a>
</div>

<style>
  .nav-links {
    display: flex;
    gap: 1rem;
  }

  .nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
  }

  .nav-links a:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 0.25rem;
  }

  /* Responsive styles */
  @media screen and (max-width: var(--breakpoint-tablet)) {
    .nav-links {
      display: none;
    }
    .expanded {
      display: unset;
    }
  }
</style>
