---
import NavLink from './NavLink.astro';

const currentUrl = Astro.request.url;
export const ROUTES = ['/', '/about', '/blog', '/contact'] as const;
---

<nav>
  {ROUTES.map((route) => <NavLink href={route} currentUrl={currentUrl} />)}
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
  }

  @media (max-width: 636px) {
    /* Hardcoded from --breakpoint-tablet */
    nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background: var(--color-bg);
      padding: 5rem 2rem 2rem;
      z-index: 100;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    nav.expanded {
      display: flex;
    }
  }
</style>
