server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

compactor:
  compaction:
    block_retention: 168h

storage:
  trace:
    backend: local
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/traces

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: aleromano

overrides:
  defaults:
    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
